mlruns/
mlartifacts/
__pycache__/
*.pyc
.ipynb_checkpoints/
artifacts/
.env
# Dados
data/raw/*.csv
data/interim/*.parquet
data/processed/*.parquet

# Exceto descrição das colunas
!data/raw/columns_description.csv
.venv/
